<div class="container-fluid">
    <div class="row">
        <div class="col-12">
            <h1 class="text-center">Houses For Sale</h1>
        </div>
        <div class="col-12">
            <form action="">
                form tbd
            </form>
        </div>
        <!-- this.id = generateId()
            this.year = houseData.year
            this.bedrooms = houseData.bedrooms/
            this.bathrooms = houseData.bathrooms/
            this.sqft = houseData.sqft/
            this.price = houseData.price/
            this.description = houseData.description
            this.imgUrl = houseData.imgUrl -->
        <div class="row" id="houseCardSection">

            <!-- STUB house card -->
            <!-- <div class="col-12 col-md-4 border border-dark border-3 p-0 shadow text-center rounded bg-secondary">
                <img src="https://images.unsplash.com/photo-1628624747186-a941c476b7ef?q=80&w=2070&auto=format&fit=crop&ixlib=rb-4.0.3&ixid=M3wxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8fA%3D%3D"
                    alt="House :D" class="img-fluid rounded">
                <h1>$200000</h1>
                <h2>2 bedroom, 3 bath</h2>
                <h3>10 sqft property</h3>
                <h4>built in 1872</h4>
                <p>Lorem ipsum dolor sit, amet consectetur adipisicing elit. Consequuntur odit illum nesciunt quidem
                    laborum. Maxime!</p>
                <button class="btn btn-primary mb-1">BUY NOW</button>
            </div> -->
        </div>
    </div>
</div>